/* *,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    width: 100%;
    background-color: #4A4A4A;
    color: #fff;
    height: 3000px;
    overflow-x: hidden;
    position: relative; 
}

/* Navigation */
nav {
    background-color: #F07524;
}
.offcanvas, .offcanvas-start {
    background-color: #4A4A4A;
}

/* Header */
.main {
    display: flex;
    flex-direction: row;
    background-color: #F07524;
    height: 730px;
    justify-content: space-around;
    align-items: center;
}

#logo {
    padding: 20px;
}

#about{
    width: 500px;
    /* font-family: "Gil Sans", sans-serif; */
    font-family: Georgia, serif;
}

h3{
    line-height: 150%;
}

/* Campaign */
#stories {
    height: 800px;
    margin-top: 30px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#wordcloud{
    padding: 30px 60px 30px 30px;
}

.btn, .btn-primary{
    color:white;
    background-color:#F07524;
    border: #F07524;

}

.btn:hover, .btn-primary:hover{
    color:white;
    background-color:#F07524;
    border: #F07524;
    
}

/* Affiliates */
#affiliates {
    padding: 0 0 40px 0;
    margin: 0 auto;
    width: 95%; 
    display: flex; 
    flex-direction: column; 
    height: 730px;
}

#affiliate-title{
    position: relative;
    margin-bottom: 48px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    text-align: center;
}

ul{
    list-style: none;
}

.image-accordion{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-accordion ul{
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;

}

.image-accordion ul li{
    width: 20%;
    height: 100%;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    transition: all 500ms ease;
}

.image-accordion ul li:nth-child(1){
    background: url(../assets/washingtondc.jpg) no-repeat center center;
    background-size: cover;
}

.image-accordion ul li:nth-child(2){
    background: url(../assets/sanfran.jpg) no-repeat center center;
    background-size: cover;
}

.image-accordion ul li:nth-child(3){
    background: url(../assets/chicago.jpg) no-repeat center center;
    background-size: cover;
}

.image-accordion ul li:nth-child(4){
    background: url(../assets/la.jpg) no-repeat center center;
    background-size: cover;
}

.image-accordion ul li:nth-child(5){
    background: url(../assets/atlanta.jpg) no-repeat center center;
    background-size: cover;
}

.image-accordion ul:hover li,
.image-accordion ul:focus-within li{
    width: 8%;
}
.image-accordion ul:hover li:hover,
.image-accordion ul li:focus,
.image-accordion ul:focus-within li:focus{
    width: 60%;
}

.image-accordion ul li:focus{
    outline: none;
}

.image-accordion ul li div{
    
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 

.image-accordion ul li div a{
    width: 100%;    
    height: 100%;
    position: relative;
    padding: 30px 20px 30px;
    z-index: 3;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.4);
}

    .image-accordion ul li div a *{
        opacity: 0;
        position: relative;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        transform: translateX(-20px);
        transition: all 400ms ease;
    } 

    .image-accordion ul li div a h2{
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
        text-overflow: clip;
        margin-bottom: 10px;
    }

    .image-accordion ul li div a p{
        font-size: 16px;
        font-weight: 400;
        width: 500px;
        white-space: normal;
        line-height: 1.2;
    }

    
    .image-accordion ul:hover li:hover a,
    .image-accordion ul li:focus a,
    .image-accordion ul:focus-within li:focus a{
        background: rgba(0, 0, 0, 0);
    } 

    .image-accordion ul:hover li:hover a *,
    .image-accordion ul li:focus a *,
    .image-accordion ul:focus-within li:focus a *{
        opacity: 1;
        transform: translate(0px);
    }

/* Donations */
#donate {
    background-color: #fff;
    color: white;
    height: 600px;
    position: relative;
}

#donate-banner{
    margin-top: 5%;
    margin-bottom: auto;
    background: #F07524;
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#donate-text{
    font-size: 25px;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

.donate-button{
    margin-top: 500px;
    margin-left: 45%;

}

/* Footer Section */
footer {
    background-color: #000;
    height: 200px;
    padding: 15px 20px;
}

.socialmedia {
    fill: #fff;
}

