body {
  background-color: #4A4A4A;
  color: #fff;
}

/* Navigation */
.offcanvas, .offcanvas-start {
  background-color: #4A4A4A;
}

.btn {
  margin: 10px;
  padding: 15px;
}

.menu-icon {
  width: 100px;
  height: 100px;
  background-image: url(../assets/menu-icon.png);
  background-repeat: no-repeat;
  background-position: 15px 15px;
  background-size: calc(0.75em + 0.75rem) calc(0.75em + 0.75rem);
}

.nav-links {
  list-style-type: none;
  padding-left: 50px;
}

.nav-links li {
  padding: 40px 0px;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: xx-large;
}

.nav-links a:hover {
  color: #F07524;
}

/* About */

/* Cards */
.card {
  width: 18rem;
  color: #000;
}

.btn-primary {
  background-color: #F07524;
  border: #F07524;
}

.btn-primary:hover {
  background-color: #F07524;
  border: #F07524;
}

/* Footer */
footer {
  background-color: #000;
  height: 200px;
  padding: 15px 20px;
}

.socialmedia {
  fill: #fff;
}